@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-position: sticky;
  --content-offset: 0px;
  --header-height: 64px;
  --header-mb: 0px;
  --header-top: 0px;
  --avatar-top: 0px;
}

@keyframes expand {
  to {
    clip-path: circle(150% at 50% 50%);
  }
}

body {
  @apply bg-white text-gray-900 dark:bg-black dark:text-white;
}
