@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

@layer utilities {
  .prose {
    max-width: 100%;
  }
  .prose p,
  .prose li,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

:root {
  --header-position: sticky;
  --content-offset: 0px;
  --header-height: 64px;
  --header-mb: 0px;
  --header-top: 0px;
  --avatar-top: 0px;
}

@keyframes expand {
  to {
    clip-path: circle(150% at 50% 50%);
  }
}

body {
  @apply bg-white text-gray-900 dark:bg-black dark:text-white;
}
